# Raw dataset
data/raw/

# Generated/intermediate data
data/*.csv

# Trained model
data/*.pkl

# Python virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Environment variables / secrets
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/


# Allow small demo dataset
!data/demo_resolutions.csv